body{
   font-family: 'Roboto', sans-serif;
}

.nav-item{
   letter-spacing: .2em;
   font-size:14px;
   text-transform:uppercase;
}

.dropdown-item{
    letter-spacing: .2em;
    font-size:10px;
    text-transform:uppercase;
}
.my_footer{
    background-color:azure;
    height:60px;

}
.my_footer p{
    padding-top:20px;
    font-size:14px;
}

/*** category page ***/
.my_row_class{
    padding-top:15px;
}
.my_row_class .mx_auto{
    color:#f000;
    font-size:12px;
}
.my_image{
    width:50%;
    height:auto;
}


.my_title{
    font-size:16px;
    text-transform:uppercase;
    letter-spacing:.2em;
}
.my_image_padding{
    padding:5px;
}

/***product page***/
.my_prod_row_class{
    padding-top:15px;
    padding-bottom:20px;
}

.my_prod_row_class .mx_auto{
    color:#000;
    font-size:12px;
    text-decoration:none;

}
.my_prod_name{
    font-size:8px;
    text-transform:uppercase;
    letter-spacing:.2em;
    padding-top:10px;
    padding-bottom:10px;
}

.my_prod_text{
    padding-right:20px;
}
/*** card setup ***/
.my_bottom_margin{
    margin-bottom:10px;
}
.card-body h3{
     font_size:14px;
     text-transform:uppercase;
     letter-spacing:.2em;
}
.search_page_text{
     padding-top:20px;
}

.my_table{
     min-width:400px;
     font-size:14px;
}
.my_table_head{
     font-weight:normal;
     letter-spacing:.2em;
     background-color:aqua;
}

.custom_a{
     text-decoration:none;
}

.custom_icon{
     text-decoration:none;
     color:aqua;
}

.my_table_button{
     min-width:80px;
}